.container {
    position: relative;
    width: 1100px;
    height: 400px;
    border-bottom: 4px solid black;
    margin: 50px auto;
    overflow: hidden;
}

.ball {
    position: absolute;
    top: 50px;
    left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    animation: rollingBall 2s linear infinite;
}

.letter {
    animation: rotateO 4s linear infinite;
}

@keyframes rollingBall {
    0% {
        transform: translateX(0) rotate(0deg);
    }
    80% {
        transform: translateX(700px) rotate(180deg);
    }
    100% {
        transform: translateX(700px) translateY(700px) rotate(360deg);
    }
}